
body{
    margin:0;
    height:100vh;
    display:flex;
    flex-direction: column;
}
  #container {
    display:grid;
    grid-template-columns: repeat(16, 1fr);
  }

  .color
  {
    background-color:black;
  }
  
  .button
  {
    display:flex;
    justify-content: center;
    margin-top:30px;
    margin-bottom:30px;
  }

  .inner_boxes
  {
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
  }


  #footer
  {
    width:auto;
    height:auto;
    background-color: black;
    display:flex;
    justify-content: center;
  }